*{
    /* Para que el tamaño de los elementos no se vea afectado por el padding y el border */
    box-sizing: border-box;
    /* Para que no se vea el borde de los elementos */
    min-width: 0;
}


body{
    /* Para que el body ocupe todo el alto de la pantalla */
    min-height: 100dvh;
    background-color: #328336;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* Balancear el texto */
h1,h2,h3,h4,h5,h6{
    text-wrap: balance;
}

p{
    /* Balancea el texto de los parrafos */
    text-wrap: pretty;
}

.header{
    display: flex;
    justify-content: center;
    text-align: center;
    color: white;
}

.header h1{
    font-weight: 900;
}

.descripcion{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}

.descripcion p{
    text-align: center;
}

.personajes{
    color: white;
}

.personajes h2{
    font-weight: 900;
    text-align: center;
}

.personajes__list{
    padding: 0;
    margin: 10px 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    list-style: none;
}

.personajes__list-item{
    padding: 20px;
    margin: 10px 0;
    background-color: #64cc4f;
    border: 5px solid #85f16f;
    border-radius: 10px;
}

.personajes__list-item img{
    width: 85dvw;
    height: 90dvh;
    object-fit: contain;
}

.personajes__list-item p{
    font-size: 1.5rem;
    font-weight: 900;
    text-align: center;
}

.video{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}

.video h2{
    font-weight: 900;
    text-align: center;
}

.video iframe{
    width: 96dvw;
    height: 90dvh;
    border-radius: 10px;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    font-weight: bold   ;
    padding: 1rem;
}

@media screen and (min-width: 768px){
    .personajes__list-item {
        width: 30dvw;
        margin: 10px;
    }

    .personajes__list-item img{
        width: 25dvw;
        height: 90dvh;
    }
}